[Unit]
Description=Discord bot for playing Diplomacy.
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=jherget
WorkingDirectory=/home/jherget/code/discord-diplomacy
ExecStart=/home/jherget/code/discord-diplomacy/bin/bot
EnvironmentFile=/home/jherget/code/discord-diplomacy/.env.local

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
